// _variables.scss
$primary: #000; // Contoh warna custom untuk primary
$success: #28a745; // Contoh warna custom untuk success

// Tambahkan warna custom lainnya jika diperlukan
$my-custom-color: #abcdef;
